In [1]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [3]:
0.3 ==0.2 + 0.1

False

In [4]:
str(84)

'84'

In [5]:
int("34")

34

In [6]:
8/2

4.0

In [7]:
8//2

4

In [9]:
8==3

False

In [10]:
4!=5

True

In [11]:
3>3

False

In [12]:
3>=2

True

In [13]:
3<=3

True

In [21]:
age = int(input("enter you age:"))
eye = int(input("enter your eye number:"))
(age>=18) and (eye<2)

True

In [22]:
age

18

In [23]:
not True

False

In [24]:
not False

True

In [26]:
num = 9
num +=2
num

11

In [27]:
'ma' in 'maryam'

True

In [28]:
first_name = input('enter your first name:')
last_name = input('enter your last name:')
('maryam'in first_name) or ('hatami' in last_name)

True

In [34]:
id(first_name) == id(last_name)

False

In [35]:
text = '''hello\n this is mary\n and i'm glad to see you guys'''

In [36]:
text

"hello\n this is mary\n and i'm glad to see you guys"

In [37]:
print(text)

hello
 this is mary
 and i'm glad to see you guys

In [40]:
full_name = first_name +" "+ last_name
full_name

'maryam hatami'

In [41]:
full_name *7

'maryam hatamimaryam hatamimaryam hatamimaryam hatamimaryam hatamimaryam hatamimaryam hatami'

In [42]:
len(full_name)

13

In [43]:
full_name[8]

'a'

In [47]:
full_name[::-1]

'imatah mayram'

In [49]:
start = 0
middle = 9
full_name[start:middle]

'maryam ha'

In [56]:
first_name.isalpha()

True

In [60]:
full_name.find("j")

-1

In [62]:
full_name.split("a")

['m', 'ry', 'm h', 't', 'mi']

In [76]:
info = "{greetings}, \n{name} is {age} years old "
print(info.format(greetings = "hello", age = 89, name= 'mary'))

hello,
mary is 89 years old

In [78]:
age = input("please enter your age:")
name = input("please enter your name:")
birth_day = f"hello\n{name} happy {age} years old"
print(birth_day)

hello
mary happy 18 years old

In [79]:
list1 = [2, 3, 3, 'mary', 7]
list1[2]

3

In [81]:
list('ali')

['a', 'l', 'i']

In [82]:
[9] *4

[9, 9, 9, 9]

In [85]:
list(range(3,24,3))

[3, 6, 9, 12, 15, 18, 21]

In [87]:
sum([8, 4, 4, 34, 435])

485

In [116]:
bunchnames = ['mehdi', 'mmd', 'maryam', 'ali', 'jafar']

In [117]:
del bunchnames[0]

In [118]:
bunchnames

['mmd', 'maryam', 'ali', 'jafar']

In [120]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l1 + l2

[1, 2, 3, 4, 5, 6]

In [121]:
l1 * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [126]:
names = ["mary", "mehdi", "mmd", "mary"]

In [127]:
names.index("mary")

0

In [128]:
names.count("mary")

2

In [129]:
names.reverse()

In [130]:
names

['mary', 'mmd', 'mehdi', 'mary']

In [131]:
l1.append('hsn')

In [132]:
l1

[1, 2, 3, 'hsn']

In [133]:
l1.reverse( )

In [139]:
l3=[3, 4, 98, -2]

In [140]:
sorted(l3)

[-2, 3, 4, 98]

In [141]:
colors = ['red', 'green', 'blue', 'yellow']
colors[2] = 'aqua'
colors.append('purpule')

In [142]:
colors

['red', 'green', 'aqua', 'yellow', 'purpule']

In [144]:
nums = list(range(10))

In [145]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [146]:
nums[5]

5

In [147]:
nums[::2]

[0, 2, 4, 6, 8]

In [148]:
fav_foods = ["pasta","gormehsabzi", "pizza"]
"pizza" in fav_foods

True

In [151]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_c = list_a + list_b

In [152]:
list_c * 3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [153]:
char_list = ['a', 'b', 'c', 'a', 'a', 'b']
char_list.count('a')

3

In [ ]:
l1

In [160]:
list=[4,6,3,2]

In [161]:
list.sort()

In [162]:
list

[2, 3, 4, 6]

In [163]:
my_tup = (1, n 2, 3, 4)

In [164]:
tum1 = ('mary',)

In [165]:
type(tum1)

tuple

In [167]:
tup1 = (1, 3, 4, [1, 3], 'mary')
tup1[3] [0] = 9

In [168]:
tup1

(1, 3, 4, [9, 3], 'mary')

In [169]:
tup1[::-1]

('mary', [9, 3], 4, 3, 1)

In [170]:
tup1[1:4]

(3, 4, [9, 3])

In [172]:
1 in tup1

True

In [173]:
dir(tuple())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [175]:
tup1.count(1)

1

In [176]:
sorted(tup1)

TypeError: '<' not supported between instances of 'list' and 'int'

In [1]:
28%22

6

In [2]:
22%6

4

In [3]:
6%4

2

In [4]:
4%2

0

In [5]:
0%2

0